USE [school01]
GO
/****** Object:  Table [dbo].[students]    Script Date: 03/03/2026 10:13:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[age] [int] NULL,
	[email] [nvarchar](255) NULL,
	[major] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [age], [email], [major]) VALUES (7, N'Doodles', NULL, N'vuongvo2207@gmail.com', N'it')
INSERT [dbo].[students] ([id], [name], [age], [email], [major]) VALUES (8, N'Nam Chó', NULL, N'NamCho@gmail.com', N'IT')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
